html,
body {
  padding: 0;
  margin: 0;
  height:100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  border:0.25px solid rgb(240, 11, 106);
  border-radius:18px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.welcome{
  text-align: center;
  color: rgb(235, 14, 80);
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
@media only screen and (max-width: 500px){
  .welcome{
    font-size: 27px;
  }
}
